<% include header.ejs %>

<section id="contact">
	<p>Eté Meurtrier is launched in 2014</br>by Antonin Mesnil & Lilian Hardouineau.</p>
	<p>We work for art, music</br>and immersive projects.</p></br>
	<p>etemeurtrier@contact.fr</p>
</section>

<section class="wrapper">

	<% if (data.length) { %>

		<% for(var i = 0;i < data.length;i++) { %>

			<section class="video">
				<%- data[i].code_embed %>

				<article>
					<p><%= data[i].titre %></p>
					<p>RÉALISATION</br><%= data[i].realisation1 %></p>
					<p>CHEF OPÉRATEUR</br><%= data[i].chef_operateur %></p>
					<p>Avec</br><%= data[i].avec1 %>,</br><%= data[i].avec2 %></p>
					<p><%= data[i].annee %></p>
				</article>
			</section>

		<% } %>

	<% } %>

</section>

<% include footer.ejs %>
