<% @films.each do |film| %>

	<section class="video">
		<%- film.code_embed %>

		<article>
			<p><%= film.titre %></p>
			<p>RÉALISATION</br><%= film.realisation1 %></p>
			<p>CHEF OPÉRATEUR</br><%= film.chef_operateur %></p>
			<p>Avec</br><%= film.avec1 %>,</br><%= film.avec2 %></p>
			<p><%= film.annee %></p>
		</article>
	</section>

<% end %>