<% @films.each do |film| %>

	<section class="video">
		<%= film.code_embed.html_safe %>

		<article>
			<p><%= film.titre %></p>
			<p>RÉALISATION</br><%= film.realisateur1 %></p>
			<% if film.chef_operateur? %>
				<p>CHEF OPÉRATEUR</br><%= film.chef_operateur %></p>
			<% end %>
			<% if film.avec1? %>
				<p>Avec</br><%= film.avec1 %>
				<% if film.avec2? %>
					,</br><%= film.avec2 %>
				<% end %>
				</p>
			<% end %>
			<p><%= film.annee %></p>
		</article>
	</section>

<% end %>