<% @films.each do |film| %>

	<section class="video">
		<a href=<%= film.video_url %> class='popup_launcher'>
			<%= image_tag film.image.url %>
		</a>

		<article>
			<p><%= film.titre %></p>
			<p>RÉALISATION</br><%= film.realisateur1 %><% if film.realisateur2? %>,</br><%= film.realisateur2 %><% end %>
			</p>
			<% if film.chef_operateur? %>
				<p>CHEF OPÉRATEUR</br><%= film.chef_operateur %></p>
			<% end %>
			<% if film.avec1? %>
				<p>Avec</br><%= film.avec1 %><% if film.avec2? %>,</br><%= film.avec2 %><% end %></p>
			<% end %>
			<p><%= film.annee %></p>
		</article>

	</section>

<% end %>